:root {
  --font-base: "DM Sans", sans-serif;
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --dark-gray: rgb(26, 30, 29);
  --light-gray: rgb(184, 184, 184);
  --medium-gray: rgb(65, 60, 84);
  --yellow: rgb(255, 220, 88);
  --orange: rgb(226, 76, 37);
  --blue: rgb(24, 60, 161);
  --red: rgb(233, 23, 23);
  --background-color: rgb(0, 0, 0);
  --title-font: 'Big Shoulders Stencil Display', sans-serif;
  --text-font: 'Kanit', sans-serif;
  --title-size: 4.2rem;
  --text-size: 1rem;
  --text-color-gray: rgb(65, 60, 84);
  --text-color-black: rgb(0, 0, 0);
  --text-color: rgb(255, 255, 255);
  --title-color: rgb(226, 76, 37);
  --purple: rgb(154, 45, 154); 
  --cursive-font: 'Pacifico', cursive;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(45deg, var(--red) 0%, var(--black) 60%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

