.contact{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0;
    padding: 0;
    .container{
        margin-top: 0;
        display: flex;
        flex-direction: row;
        height: auto;
        background: transparent;
        justify-content: space-between;
        margin: 0;
        width: 100%;
        &:hover{
            flex-direction: column;
            justify-content: center;
        }
        .contact-link{
            width: 100%;
            text-align: center;
            align-self: center;
            font-size: 3rem;
            color: var(--black);
            text-decoration: none;
            .calltoaction{
                background: var(--background-color);
                height: 100%;
                text-align: center;
                align-items: center;
                justify-content: center;
                h1{
                    margin: 90px 0 0px 0;
                    padding: 40px;
                    font-size: var(--title-size);
                    font-family: var(--text-font);
                    align-self: center;
                    color: var(--black);
                }
                &:hover{
                    font-size: 4rem;
                    color: white;
                    box-shadow: 2px 2px 40px 20px var(--purple);
                }
            }
        }
    }
}