.navbar{
    width: 100%;
    height: 150px;
    color: var(--red);
    // -webkit-backdrop-filter: blur(4px); causa problemas de z-index inesperados con los demas elementos en la pagina, haciendo que queden por envima del offcanvas
    // backdrop-filter: blur(4px);
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background: rgba(57, 41, 36, 0.2);
}
.navbar-logo{
    font-family: var(--title-font);
    margin-top: 10px;
    height: 200px;
    width: auto;
}
.navbar-links {
    display: flex;
    font-family: var(--text-font);
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    
    li {
      color: var(--orange);
      font-size: 3rem;
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      
      a {
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        color: var(--orange);
        width: auto;
        padding: 5px;
        
      &:hover {
        -webkit-border-radius: 130px 130px 130px 130px;
        -moz-border-radius: 130px 130px 130px 130px;
        border-radius: 130px 130px 130px 130px;
        border: 2px solid rgba(225,77,26,0.95);
        color: var(--yellow);
        cursor: pointer;
      }
      div {
        max-width: 100%;
        position: relative;
        img {
          width: 100%;
          height: 100px;
          position: absolute;
          top: 100%;
          left: 0;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }
      }
      &:hover img {
        opacity: 1;
      }
    }
  }
  @media screen and (max-width: 1135px) {
    display: none;
  }
}


.navbar-menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin: 0 20px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9992;

    img{
        width: 90px;
        height: 75px;
        color: var(--white);
        margin: 0 60px 0 0;
        z-index: 9999;
    }
    div{
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;

        width: 50%;
        height: 100vh;
        
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        background-color: rgba(0, 0, 0, 0.847);
        background-size: cover;
        background-repeat: repeat;

        box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);
        svg{
            width: 140px;
            height: 140px;
            color: var(--white);
            background-color: transparent;
            z-index: inherit;
        }
        ul{
            z-index: inherit;
            list-style: none;
            background-color: transparent;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            .navbar-link{
                
                display: flex;
                justify-content: flex-start;
                background-color: transparent;
                background: transparent; 
                align-items: flex-start;
                flex-direction: column; 
                a{
                    margin: 20px 30px 20px 0;
                    padding-left: 30px;
                    text-decoration: none;
                    background-color: transparent;
                    color: var(--white);
                    text-transform: uppercase;
                    font-weight: 500;
                    font-family: var(--text-font);
                    font-size: 3rem;

                transition: all 0.3s ease-in-out;
                &:hover{
                    color: var(--orange);
                }
              }
            }
        }
        @media screen and (min-width: 1135px){
            display: none;
        }
    }
    @media screen and (min-width: 1135px){
        display: none;
    }
}
.social-media{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--red);
  margin: 0;
  padding: 0;
  svg{
    width: 55px;
    height: 55px;
    margin: 0 10px;
    color: var(--red);
  }
}